*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: bold;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  background: #fff;
  min-height: 293px;
  position: relative;
  width: 100%;
  opacity: 1;
}

.header_menu {
  justify-self: start;
}

.header_link-list {
  display: flex;
  list-style: none;
  align-items: center;
  min-height: 22px;
  font-size: 18px;
  gap: 20px 13px;
  width: 392px;
  margin: 28px 0px 31px 52px;
}

.header_link-item {
  display: flex;
  align-items: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  padding: 15px 2px 17px 2px;
}

.circle-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: transparent;
  border: 0.5px solid;
  border-radius: 50%;
  opacity: 1;
  margin-right: 8px;
}

.header_link-list a {
  text-decoration: none;
  color: inherit;
}

.header_logo-image {
  display: flex;
  justify-content: center; 
}

.header_logo {
  width: 137px;
  height: 95px;
  max-width: 100%;
  margin: 10px -1px 20px 9px;
}

.address-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
  position: static;
  padding: 0;
  border: 1px; 
  opacity: 1;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 16px;
  margin-right: 84px;
  justify-self: end;
}

.cover {
  position: relative;
  background-image:url(./images/cover.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  min-height: 757px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.cover-content {
  position: relative;
  margin: 0;
  opacity: 1;
  width: 100%;
}

.cover_title {
  position: relative;
  color: rgba(255, 255, 255, 1);
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  z-index: 0;
  padding: 160px 22px 202px 50px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  align-items: flex-start;
  text-align: left;
}

.aligned-text_center {
  align-items:center;
  line-height: 1.6;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover_description {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  size: 22px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px -54px 0px -160px;
}

.cover_description-text {
  opacity: 1;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 22px;
  padding: 669px 0px 0px 5px;
  word-spacing: 1rem;
  text-align: justify;
}

.cover_bet-button {
  position: static;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0em;
  cursor: pointer;
  opacity: 1;
  height: 51px;
  width: 256px;
  margin: 18px -100px -10px 111px;
}

.lots {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 723px;
  margin: 175px 0 7px 0;
  padding: 0 24px;
  box-sizing: border-box;
}

.lots_heading {
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 0 0 36px;
  margin-bottom: 27px;
}

.lots_card-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 334px;
  height: 596px;
}

.card__title {
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin: 49px 42px 3px 40px;
  z-index: 1;
}

.card__text-film {
  display: flex;
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  padding: 274px 42px 40px 41px;
  z-index: 1;
}

.card__text-book {
  display: flex;
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  padding: 36px 39px 48px;
  z-index: 1;
}

.card__text-picture {
  display: flex;
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  padding: 131px 40px 24px;
  z-index: 1;
}

.card-link {
  max-height: 100%;
  text-decoration: inherit;
  color: inherit;
}

.lots__card-list-item-film {
  width: 334px;
  height: 596px;
  background-image: url(./images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.lots__card-list-item-book {
  width: 334px;
  height: 596px;
  background-image: url(./images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.lots__card-list-item-picture {
  width: 334px;
  min-height: 596px;
  background-image: url(./images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.lots__look-more-link {
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
  position: absolute;
  bottom: -48px;
  left: 40px;
  right: 102px;
}

.about {
  display: grid;
  grid-template-columns: 280px 1fr; 
  margin: 100px auto;
  gap: 24px;
  padding: 0 50px;
  max-width: 100%;
  box-sizing: border-box;
}

.about__left-column {
  display: flex;
  padding: 63px 0 351px 21px;
}

.about__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 161px 2px 24px 9px; 
  text-transform: uppercase;
  font-size: 40px;
}

.about__texts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 100px -17px -2px 3px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  justify-items: start;
  padding: 50px;
  gap: 20px;
  background: #fff;
  max-width: 100%;
  min-height: 180px;
  opacity: 1;
  font-size: 18px;
  position: relative;
  left: 0;
  bottom: 50px;
  box-sizing: border-box;
}

.footer_address-block {
  font-style: normal;
  line-height: 1.4;
  display: block;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s;
  opacity: 1.5;
  padding: 47px 0px;
  width: 320px;
  height: auto;
}

.footer_address-block a {
  display: block;
}

.address-line {
  display: block;
}

.footer__menu {
  justify-self: center; /*Центрируем меню */
  margin: 54px -8px 0 0;
}

.footer__menu-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  position: relative;
  right: 0;
}

.footer__menu-link {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s;
}

.footer__menu-link:hover {
  opacity: 0.8;
}

.footer__menu-link_active {
  text-decoration: none;
  font-weight: 500;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 50px;
  margin: 0;
  padding: 52px 0 0 0;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
}

.footer__social-list-item {
  display: flex;
}

.footer__social-link {
  display: flex;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  transition: transform 0.3s;
}

.footer__social-icon:hover {
  transform: scale(1.1);
}